$primary_color: #F04461;
$info_color: #F1F1F6;
$secondary_color: #C5010A;
$text-color: #FFFFFF;
$background-color1: #F7F7FC;
$item_color1: #E1E1E1;
$text_color1: #FDE5E6;
$image_placeholder: #E2E2EA;
$text-color2: #9A9AB0;;